---
import { Image } from "astro:assets";
import portraitImage from "../images/Duchnowski_Portrait.jpg";

import BaseLayout from "../layouts/BaseLayout.astro";
import Headline from "../components/Headline.astro";
import Footer from "../components/Footer.astro";

import type { MarkdownInstance } from "astro";
interface Frontmatter {
    href: string;
    source?: string;
    title: string;
    description: string;
    tags?: string[];
}

const featuredResearchName = "ehop.md";
const featuredProjectName = "rubiks-group.mdx";

const pathToResearch = `src/research_content/${featuredResearchName}`;
const papers = Object.values(
    import.meta.glob<MarkdownInstance<Frontmatter>>(
        "/src/research_content/*.{md,mdx}",
        { eager: true }
    )
);
const featuredPaper = papers.find((paper) =>
    paper.file.includes(pathToResearch)
);

const pathToProject = `src/pages/projects/${featuredProjectName}`;
const projects = Object.values(
    import.meta.glob<MarkdownInstance<Frontmatter>>(
        "/src/pages/projects/*.{md,mdx}",
        { eager: true }
    )
);
const featuredProject = projects.find((project) =>
    project.file.includes(pathToProject)
);
---

<BaseLayout title="Home">
    <div class="centered">
        <div class="wrapper">
            <div class="centered">
                <Image
                    src={portraitImage}
                    alt="Portrait of Alex Duchnowski"
                    loading="eager"
                    style="width: 40%; height: auto; margin-top: 12px;"
                />
                <h1>Alex Duchnowski</h1>
            </div>
            <p>
                I am a computational linguist and programmer who loves solving
                puzzles. I also enjoy <i>creating</i> puzzles—both for people and
                for large language models (LLMs).
            </p>
            <p>
                As a student at Brown University, I studied mathematics,
                computer science, and linguistics.
            </p>
            <p>
                Currently, I am looking for a full-time position where I can
                grow my natural language processing and machine learning skills
                as well as develop LLMs or AI-based tools.
            </p>
            <div
                style="display: flex; justify-content: space-between;align-items: baseline;"
            >
                <h2>Featured Research</h2>
                <h3>
                    <a class="internal" href="/website/research"
                        >View All Research</a
                    >
                </h3>
            </div>
            {
                (
                    <Headline
                        href={featuredPaper?.frontmatter.href}
                        source="external"
                        title={featuredPaper?.frontmatter.title}
                        description={featuredPaper?.frontmatter.description}
                        tags={featuredPaper?.frontmatter.tags}
                    />
                )
            }
            <div
                style="display: flex; justify-content: space-between;align-items: baseline;"
            >
                <h2>Featured Project</h2>
                <h3>
                    <a class="internal" href="/website/projects"
                        >View All Projects</a
                    >
                </h3>
            </div>
            {
                (
                    <Headline
                        href={`/website/projects/${featuredProjectName.split(".")[0]}`}
                        source="internal"
                        title={featuredProject?.frontmatter.title}
                        description={featuredProject?.frontmatter.description}
                        tags={featuredProject?.frontmatter.tags}
                    />
                )
            }
        </div>
    </div>
    <Footer />
</BaseLayout>
